#
# {{ ansible_managed }}
#

{% if xinetd_service.disable is defined        %}service {{ xinetd_service.name }}
{
{% if xinetd_service.disable is defined %}
        disable                 = {{ xinetd_service.disable }}
{% endif %}
{% if xinetd_service.socket_type is defined %}
        socket_type             = {{ xinetd_service.socket_type }}
{% endif %}
{% if xinetd_service.protocol is defined %}
        protocol                = {{ xinetd_service.protocol }}
{% endif %}
{% if xinetd_service.wait is defined %}
        wait                    = {{ xinetd_service.wait }}
{% endif %}
{% if xinetd_service.user is defined %}
        user                    = {{ xinetd_service.user }}
{% endif %}
{% if xinetd_service.server is defined %}
        server                  = {{ xinetd_service.server }}
{% endif %}
{% if xinetd_service.server_args is defined %}
        server_args             = {{ xinetd_service.server_args }}
{% endif %}
{% if xinetd_service.per_source is defined %}
        per_source              = {{ xinetd_service.per_source }}
{% endif %}
{% if xinetd_service.cps is defined %}
        cps                     = {{ xinetd_service.cps }}
{% endif %}
{% if xinetd_service.flags is defined %}
        flags                   = {{ xinetd_service.flags }}
{% endif %}
{% if xinetd_service.log_on_failure is defined %}
        flags                   {{ xinetd_service.log_on_failure_operator }} {{ xinetd_service.log_on_failure }}
{% endif %}
}
{% endif %}
